<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fosu.workflow.mapper.SaQuestionMapper">

    <resultMap id="SaQuestionList" type="org.fosu.workflow.entities.SaQuestion">
        <id column="id" property="id"/>
        <result column="paper_id" property="paperId"/>
        <result column="description" property="description"/>
        <result column="score" property="score"/>
        <result column="create_date" property="createDate"/>
    </resultMap>
    <resultMap id="SaQuestionTotalScore" type="org.fosu.workflow.entities.SaQuestion">
        <id column="id" property="id"/>
        <result column="paper_id" property="paperId"/>
        <result column="score" property="score"/>
    </resultMap>
    <select id="getQuestionList" resultMap="SaQuestionList">
        SELECT *
        FROM mxg_question_sa
        WHERE paper_id = #{req.paperId}
        ORDER BY create_date DESC
    </select>
    <select id="getTotalScore" resultMap="SaQuestionTotalScore">
        SELECT id, paper_id, score
        FROM mxg_question_sa
        WHERE paper_id = #{paperId}
    </select>
    <delete id="deletesaQuestion">
        DELETE
        FROM mxg_question_sa
        WHERE id = #{question_id}
    </delete>
</mapper>
